{
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "lodash"
  ],
  "presets": [
    "stage-1", "flow"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {"targets": {"node": "current"}}],
        "stage-1", "flow"
      ],
      "plugins": [
        "transform-runtime",
	"lodash"
      ]
    },
    "coverage": {
      "presets": [
        ["env", {"targets": {"node": "current"}}],
        "flow"
      ],
      "plugins": [
        "transform-runtime",
	"lodash",
        "istanbul"
      ]
    },
    "es5": {
      "presets": [
        ["env", {"forceAllTransforms": true}],
        "stage-1", "flow"
      ],
      "plugins": [
        "transform-runtime",
	"lodash"
      ]
    },
  }
}
